# The title of the report
title: firefox_testing
# Extra preferences to set in the test (use "preferences : {}" for no prefs)
extraPrefs:
  extensions.firebug.allPagesActivation: true
  extensions.firebug.console.enableSites: true
  extensions.firebug.net.enableSites: true
  extensions.firebug.script.enableSites: true
  extensions.checkCompatibility.4.0: false
  noscript.default: 'file:// about:blank about:credits addons.mozilla.org mozilla.net flashgot.net google.com gstatic.com googleapis.com securecode.com informaction.com yahoo.com yimg.com yahooapis.com maone.net noscript.net hotmail.com msn.com passport.com passport.net passportimages.com live.com js.wlxrs.com'
  network.dns.ipv4OnlyDomains: localhost
