# Extra preferences to set in the test
extraPrefs:
  extensions.autoDisableScopes:
  extensions.enabledScopes:
  talos.logfile: browser_output.txt

test_overrides:
  tp5n:
    cycles: 1
    tppagecycles: 1
    tpcycles: 1
    xperf_providers : ['PROC_THREAD', 'LOADER', 'HARD_FAULTS', 'FILENAME', 'FILE_IO', 'FILE_IO_INIT']
    xperf_user_providers: ['Mozilla Generic Provider', 'Microsoft-Windows-TCPIP']
    xperf_stackwalk : ['FileCreate', 'FileRead', 'FileWrite', 'FileFlush', 'FileClose']
    w7_counters: []
    win_counters: []
    linux_counters: []
    remote_counters: []
    mac_counters: []
    setup: ${talos}/xtalos/start_xperf.py ${talos}/bcontroller.yml
    cleanup: ${talos}/xtalos/parse_xperf.py ${talos}/bcontroller.yml
